In [13]:
import pandas as pd
df_list = pd.read_html('https://www.wikidex.net/wiki/Lista_de_Pok%C3%A9mon_por_aparici%C3%B3n_en_la_quinta_temporada')

NameError: name 'df' is not defined

In [9]:
len(df_list)

25

In [10]:
df_list[1]

,#,Pokémon,Tipo(s),Tipo(s).1,Episodios en los que aparece
0,1,Bulbasaur,Planta,Veneno,"EP215, EP225, EP226, EP227, EP257, EP270"
1,3,Venusaur,Planta,Veneno,EP250
2,5,Charmeleon,Fuego,Fuego,"EP223, EP224"
3,6,Charizard,Fuego,Volador,"EP250, EP254, EP255, EP256, EP271, EP272, EP27..."
4,7,Squirtle,Agua,Agua,"EP218, EP269, EP270, EP274, EP275"
...,...,...,...,...,...
209,285,Shroomish,Planta,Planta,EP274
210,319,Sharpedo,Agua,Siniestro,"EP274, EP276"
211,320,Wailmer,Agua,Agua,"EP274, EP276"
212,352,Kecleon,Normal,Normal,"EP272, EP273"
213,360,Wynaut,Psíquico,Psíquico,"EP254, EP255, EP256, EP257"

In [17]:
df_list[1].to_csv('basededatosspace.csv', sep ='\t')

In [15]:
print(df_list[1].head())

   #     Pokémon Tipo(s) Tipo(s).1  \
0  1   Bulbasaur  Planta    Veneno
1  3    Venusaur  Planta    Veneno
2  5  Charmeleon   Fuego     Fuego
3  6   Charizard   Fuego   Volador
4  7    Squirtle    Agua      Agua

                        Episodios en los que aparece
0           EP215, EP225, EP226, EP227, EP257, EP270
1                                              EP250
2                                       EP223, EP224
3  EP250, EP254, EP255, EP256, EP271, EP272, EP27...
4                  EP218, EP269, EP270, EP274, EP275

In [16]:
df_list[1]['col'].str.get_dummies(sep=',')

KeyError: 'col'